<section class="destination-edit-container">
  <h1>Add Destination</h1>

  <form *ngIf="destination" (ngSubmit)="onSaveDestination()">
    <label for="city">City</label>
    <input [(ngModel)]="destination.city" type="text" name="city" id="city" />

    <label for="departAt">Depart Date</label>
    <input [(ngModel)]="departAt" type="date" name="departAt" id="departAt" />

    <button>Save</button>
  </form>

  <p>{{ destination | json }}</p>
</section>

<!-- <label for="age">Age</label>
        <input [(ngModel)]="pet.age" type="number" name="age" id="age">

        <label for="birthDate">Birth Date</label>
        <input [ngModel]="pet.birthDate|date:'yyyy-MM-dd'" (ngModelChange)="pet.birthDate = $event" type="date" name="birthDate" id="birthDate"> -->
